__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
build/
dist/
monograph/*.aux
monograph/*.bbl
monograph/*.bcf
monograph/*.blg
monograph/*.fdb_latexmk
monograph/*.fls
monograph/*.idx
monograph/*.ilg
monograph/*.ind
monograph/*.log
monograph/*.out
monograph/*.run.xml
monograph/*.toc
monograph/main.pdf
